.contacts {
  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
    gap: 30px;

    font-size: 14px;
  }

}

.menu-container {
  .contacts__item {
    @extend %link;
  }
}

.contacts__item:first-child {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: -2px;
  }
}

.contacts__icon {
  fill: currentColor;
}

.contacts__link {

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  @media screen and (min-width: 1200px) {
    gap: 10px;
  }
}